#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
users = pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [9]:
users.rename(columns = {'Id':'userId'}, inplace = True)
users

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,NaN,NaN,NaN,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,NaN,NaN,NaN,1,0,0,5026998,NaN,NaN
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,NaN,United States,NaN,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,NaN,NaN,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,NaN,India,<p>Maths Enthusiast </p>\r\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 4. Import posts table:

In [10]:
posts = pd.read_csv('posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [11]:
posts.rename(columns = {'Id':'postId','OwnerUserId':'userId'}, inplace = True)
posts.head(0)

Empty DataFrame
Columns: [postId, PostTypeId, AcceptedAnswerId, CreaionDate, Score, ViewCount, Body, userId, LasActivityDate, Title, Tags, AnswerCount, CommentCount, FavoriteCount, LastEditorUserId, LastEditDate, CommunityOwnedDate, ParentId, ClosedDate, OwnerDisplayName, LastEditorDisplayName]
Index: []

[0 rows x 21 columns]

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [12]:
users_f = users[['userId','Reputation','Views','UpVotes','DownVotes']]
posts_f = posts[['postId', 'Score', 'userId','ViewCount','CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [13]:
#merged = users_f.append(posts_f)
frames = [users_f, posts_f]
  
merged = pd.concat(frames)
merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,NaN,NaN,NaN,NaN
1,2.0,101.0,25.0,3.0,0.0,NaN,NaN,NaN,NaN
2,3.0,101.0,22.0,19.0,0.0,NaN,NaN,NaN,NaN
3,4.0,101.0,11.0,0.0,0.0,NaN,NaN,NaN,NaN
4,5.0,6792.0,1145.0,662.0,5.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
39995,19966.0,NaN,NaN,NaN,NaN,48321.0,0.0,NaN,0.0
39996,892.0,NaN,NaN,NaN,NaN,48322.0,3.0,NaN,2.0
39997,2020.0,NaN,NaN,NaN,NaN,48323.0,1.0,NaN,0.0
39998,19914.0,NaN,NaN,NaN,NaN,48324.0,3.0,NaN,0.0
39999,19968.0,NaN,NaN,NaN,NaN,48325.0,-1.0,116.0,4.0

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [14]:
merged.isna().sum().sum()
for column in merged:
    a = merged[column].isna().sum()
    if a > 0:
        print('column '+ column + ' has ' + str(a) + ' Nan values')

column userId has 1038 Nan values
column Reputation has 40000 Nan values
column Views has 40000 Nan values
column UpVotes has 40000 Nan values
column DownVotes has 40000 Nan values
column postId has 40325 Nan values
column Score has 40325 Nan values
column ViewCount has 64430 Nan values
column CommentCount has 40325 Nan values

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [15]:
merged = merged.fillna(0)
#there is important info in all the columns the 2 df are completing each other. Even though having a lot of Nan I should not delete them 
merged.head(2)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1.0,0.0,5007.0,1920.0,0.0,0.0,0.0,0.0
1,2.0,101.0,25.0,3.0,0.0,0.0,0.0,0.0,0.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [16]:
#we should change it to integers. All but the Score
merged["userId"] = merged['userId'].astype(int)
merged["Reputation"] = merged['Reputation'].astype(int)
merged["Views"] = merged['Views'].astype(int)
merged["UpVotes"] = merged['UpVotes'].astype(int)
merged["DownVotes"] = merged['DownVotes'].astype(int)
merged["postId"] = merged['postId'].astype(int)
merged["ViewCount"] = merged['ViewCount'].astype(int)
merged["CommentCount"] = merged['CommentCount'].astype(int)

merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,0,0.0,0,0
1,2,101,25,3,0,0,0.0,0,0
2,3,101,22,19,0,0,0.0,0,0
3,4,101,11,0,0,0,0.0,0,0
4,5,6792,1145,662,5,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...
39995,19966,0,0,0,0,48321,0.0,0,0
39996,892,0,0,0,0,48322,3.0,0,2
39997,2020,0,0,0,0,48323,1.0,0,0
39998,19914,0,0,0,0,48324,3.0,0,0
39999,19968,0,0,0,0,48325,-1.0,116,4